:root {
    --font_1: 
     'Montserrat', 
      sans-serif;
    --black: #000000;
    --gray: #4F4F4F;

}
html {
    font-family: var(--font_1);
    text-decoration: none;
    color: var(--black);
}
a {
    text-decoration: none;
    color: var(--black);
}
ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}
.container {
    width: 1202px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.download {
   

}
.download-link {
   
    font-size: 21px;  
    display: flex;
    align-items: flex-start;
}
.download__icon {
    margin-right: 9px;
}
.user {
    font-size: 36px;
}
.contacts {
    font-style: normal;
    text-align: right;
    
}
.contacts__phone {
    font-size: 21px;
    font-weight: bold;
}
.contacts__mail {
    font-size: 18px;
}
hr {
    background: #DBDBDB;
}
.about {
    margin-top: 60px;
    display: flex;
    /* margin-bottom: 50px; */
}
.about__left {
    margin-right: 45px;
}
.avatar__image {
    width: 500px;
    height: 554px;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}
.title {
    font-size: 36px;
}
.skills {
    list-style-type: none;
}
.skills__title {
    font-size: 24px;
}
.skills__tech-list {
    list-style-position: inside;
    list-style-type: disc;
    line-height: 27px;
}
.skills__tech-item {
    font-size: 16px;
    color: var(--gray);
}
.user-info__list {
    display: flex;
    list-style-type: none;
    flex-flow: wrap;
    
}
.user-info__item {
    font-size: 18px;  
    width: 50%;
    margin-top: 23px;
}
.user-info__text {
    color: var(--gray);
    line-height: 27px;
}
.footer {
    display: flex;
    justify-content: space-between;
    height: 122px;
    align-items: center;
}
.socials {
    display: flex;
    list-style-type: none;
}
.socials__item {
    margin-left: 11px;
}   