html{
 margin: 0;
 padding: 0;
}

.download-link {
  font-size: 18px;
}
 
.user {
  font-size: 30px;
}
.contacts__phone {
  font-size: 21px;
}
.contacts__mail {
  font-size: 18px;
}

.title {
  font-size: 30px;
}
.skills__title {
  font-size: 24px;
}
.skills__tech-item {
  font-size: 16px;
}
.avatar__image {
  width: 228px;
  height: 252px;
  position: relative;
  bottom: 36px; 
}
.about__right {
  position: relative;
  bottom: 50px;
  right: 26px;
}
.user-info {
  position: relative;
  bottom: 29px;
  right: 6px;
}
.user-info__item {
  width: 100%;
  margin: 0;
}
.user-info__item--section-2 {
  margin: 0;
}
.user-info__wrapper {
  
}
.user-info__title {
  font-size: 36px;
}
.user-info__text {
  font-size: 18px;
}
.main {
  margin-bottom: -11px;
}

.socials__item {
  /* margin-left: 0px;   */
  position: relative;
  left: 11px;
}